.btn-ssoemne,
.valg_container {
    border-radius: 4px
}

.bullseye {
    height: 120px;
    margin-top: -40px;
    margin-bottom: 20px
}

.button_container {
 
}

.btn-ssoemne {
    border: 1px solid #ddd;
    padding: 4px 4px 4px 10px;
    margin: 3px 3px 3px 0px;
    width: 60%;
    cursor: pointer;
}

.btn {
    margin-bottom: 10px
}

.search_container {
    margin-top: -11px;
}

.img_container{
   position: absolute;
    width: 18%;
    right: 0px;
    top: 50px;
    opacity: 0.8;
    z-index: -1;
}
