
.bullseye{
    height: 120px;
    margin-top: -40px;
    margin-bottom: 20px;
}

.valg_container{
    
    padding: 0px 0px 0px 10px;
    border-radius: 4px;
    display: flow-root;
}

.button_container{
    margin-left: -10px;
}


/***** TEST SÅ VALSER OG KONSOL KAN SES SAMTIDIG *****/ 
/*
.number_container {
    height: 80px;
}

.number {
    height: 80px;
}
*/